<!-- templates/home.html-->

<!doctype html>
<html lang="es">
  <head>
    <meta http-equiv="refresh" content="0; URL='http://127.0.0.1:8000/inventario/'" />

  </head>

</html>

<!-- {% extends 'base.html' %}
{% block title %}Inicio{% endblock %}

{% block content %}
{% if user.is_authenticated %}
  Hi {{ user.username }}!
  <p><a href="http://127.0.0.1:8000/inventario">Ir al inventario</a></p>
  <p><a href="{% url 'logout' %}">Cerrar sesión</a></p>
{% else %}
  <p>Por favor, inicia sesión</p>
  <a href="{% url 'login' %}">Iniciar sesión</a>
{% endif %}
{% endblock %}
-->
